* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

h1{
  color: #ff8b8b;
}

h3 {
  font-family:fantasy;
  font-style: italic;
}

.big {
  border: 3px solid #ff8b8b;
  width: 80%
}
.best {
  border: 3px solid #ff8b8b;
  width: 30%
}

.flashy {
  color: #ff8b8b;
  font-style: italic;
}

h2.intro {
  font-weight:bold;
}

p.intro {
  font-family:georgia;
}

img.intro {
  box-shadow: 8px 5px 5px #999;
}
